.landing_section{
    height: 450px;
    display: grid;
    align-items: center;
    h1{
        display: grid;
        height: 100%;
        grid-template-columns: repeat(3,1fr);
    }
}
.nat{
    height: 100%;
    display: grid;
    align-items: flex-end;
    text-align: right;
}
.ural{
    position: relative;
    padding: 0;
    width: 100%;
    text-align: left;
}
.ural::before{
    content: 'CLASES DE YOGA';
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    font-size: 12px;
    bottom: -21px;
    left: 5px;
}
.heading_box_center{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.armo{
    position: relative;
}
.armo::before{
    content: 'CLASES DE COMPOSE';
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    font-size: 12px;
    top: -12px;
    right: -5px;
}
.armo::after{
    content: '';
    position: absolute;
    right: -20px;
    top: -10px;
    width: 140px;
    height: 140px;
    background-image: url('../../assets/three.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.nia{
    height: 100%;
    display: grid;
    align-items: flex-start;
}
.landing_button_rigth{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    width: 100%;
    height: 100px;
}
.landing_button_left{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    width: 100%;
    height: 100px;
}