.landing_section{
    height: 450px;
    display: grid;
    align-items: center;
    h1{
        font-size: 8rem;
        display: grid;
        height: 100%;
        grid-template-columns: repeat(3,1fr);
    }
}
.natu{
    height: 100%;
    display: grid;
    align-items: flex-end;
    text-align: right;
}
.ural{
    position: relative;
    padding: 0;
    width: 100%;
    text-align: left;
}
.ural::before{
    content: 'clases de yoga';
    position: absolute;
    font-size: small;
    bottom: -21px;
    left: 5px;
}
.heading_box_center{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.armo{
    position: relative;
}
.armo::before{
    content: 'clases de compose';
    position: absolute;
    font-size: small;
    top: -12px;
    right: 0;
}
.armo::after{
    content: '';
    position: absolute;
    right: -20px;
    top: -10px;
    width: 140px;
    height: 140px;
    background-image: url('../../assets/three.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.nia{
    height: 100%;
    display: grid;
    align-items: flex-start;
}