.section_admin_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    h2{
        font-size: 2rem;
    }
}
.box_loader_admin{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}