.container_signin{
    display: flex;
    align-items: flex;
    justify-content: space-between;
}
.box_heading_signin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trar{
    position: relative;
    margin-left: 150px;
}
.trar::before{
    position: absolute;
    content: '';
    width: 140px;
    height: 140px;
    left: -140px;
    top: 0px;
    background-image: url('../../../assets/yoga.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(5px 5px 5px #525252);
}
.se{
    position: relative;
}
.se::after{
    position: absolute;
    content: '';
    width: 130px;
    height: 130px;
    top: 15px;
    background-image: url('../../assets/three.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(5px 5px 5px #525252);
}