.box_menu{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 18px;
    height: 26px;
    p{
        background:linear-gradient(to right, #F1EDE2,#F1EDE2,#F1EDE200);
    }
}
.box_links{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 85px;
    top: 30px;
    left: 20px;
    overflow: hidden;
    p{
        font-weight:400;
        font-size: 10px;
        transition:all ease-in-out 500ms;
        transition-delay: 500ms;
    }
}
.box_links_false{
    p{
        transform: translateX(-65px);
        transition-delay: -200ms;
    }
}
.dot{
    width: 18px;
    height: 1px;
    background-color: #313131;
}
.top{
    animation: rotate_out 500ms linear forwards;
}
.midfalse{
    animation: rotate_mid_out 200ms linear forwards;
}
.midtrue{
    animation: rotate_mid_in 200ms linear forwards;
}
.endtrue{
    animation: rotate_end_in 200ms linear forwards;
}
.endfalse{
    animation: rotate_end_out 200ms linear forwards;
}
.true{
    animation: rotate_in 500ms linear forwards;
}

@keyframes rotate_in {
    0%{
        transform: rotate(0) translateX(0);
    }
    50%{
        transform: rotate(90deg) translateX(0);
        width: 18px;
    }
    100%{
        transform: rotate(90deg) translateX(65px);
        width: 90px;
    }
}
@keyframes rotate_out {
    0%{
        transform: rotate(90deg) translateX(65px);
        width: 90px;
    }
    50%{
        transform: rotate(90deg) translateX(0);
        width: 18px;
    }
    100%{
        transform: rotate(0) translateX(0);
    }
}
@keyframes rotate_mid_in {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(45deg);
    }
}
@keyframes rotate_mid_out {
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes rotate_end_in {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-45deg) translateX(4px) translateY(-5px);
    }
}
@keyframes rotate_end_out{
    from{
        transform: rotate(-45deg) translateX(4px) translateY(-5px);
    }
    to{
        transform: rotate(0deg);
    }
}

