.create_form{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 400px;
    margin-bottom: 0;
}
.form_user_error{
    height: 5px;
    p{
        font-size: 8px;
        font-weight: 700;
        color: #c02d2d;
        padding-left: 12px;
    }
}
.create_box_form{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 10px 0px 10px;
}
.box_input_address{
    display: flex;
}
.input_address{
   width: 170px;
}
.input_number{
    margin-left: 5px;
    width: 50px;
}