.section_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading_login{
    display: flex;
    flex-direction: column;
}
.sar{
    position: relative;
    width: 100%;
    text-align: right;
}
.sar::before{
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    left: 5px;
    top: -20px;
    background-image: url('../../../assets/yoga.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.loader_login{
    z-index: -1;
    position: absolute;
    left: -25px;
    bottom: -10px;

}
.subheading_login{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box_input_login{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}