.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.box_login_errors{
    height: 5px;
    margin-bottom: 5px;
    p{
        font-size: 8px;
        font-weight: 700;
        color: #c02d2d;
        padding-left: 12px;
    }
}
.login_box_modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}