.box_button_registrer{
    display: grid;
    place-items: center;
    width: 100%;
    padding-top: 8px;
    margin-top: 30px;
    border-top: solid 1px #313131;
    h3{
        transition: all ease-in-out 300ms;
    }
}
.box_button_registrer:hover h3{
    transform: scale(1.1);
}